<div class="container" >
		<div class="formDaftar">

			<h2>Reset Password</h2><br/>

			<div class="form-group">
				<% form_for(@users) do |x| %>
					<%= x.label :Nama %>
					<%= x.text_field :nama, class:'form-control' %>
				<% end %>
			</div>


			<%= form_for(@user, url: {action: "reset_pw"}, method: "post") do |f| %>
				<div class="form-group">
					<%= f.label :Password_Baru %>
					<%= f.password_field :password, class:'form-control', required: true %>
				</div>

				<%= f.submit "Simpan", class:'btn btn-primary' %>
				<%= link_to "Batal", home_path, class:'btn btn-danger' %>
				
				<div style="float: right">
					<%= button_tag "Reset", type: :reset, class:'btn btn-light' %>
				</div>
			<% end %>
		</div>
</div>
